[2017-07-18 17:49] anshumanv opened #23 "Display a buffered bar in audio player"
Obviously to know the amount of song buffered.

[2017-07-18 17:51] anshumanv opened #24 "Display track name"
The name of the track needs to show up when a new track is loaded.

[2017-07-18 17:52] anshumanv opened #25 "Populate and display the list of tracks in sequence."
Probably a button that unfolds the populated list will look well.

[2017-07-19 01:38] Monal5031 opened #29 "Media buttons should be grouped."
The next button, play again button should be on a round curve rectangle in the bottom right corner  or center top with some solid background so as to make it look good and provide ease of access.
Also an up arrow is needed IMO for the seek bar.

[2017-07-19 01:47] Monal5031 commented on #24
Can I work on this 😛

[2017-07-19 05:38] anshumanv commented on #24
Yes please, make sure the heading displays then fades away and somewhere above the seek-bar this would look good. And dont add any extra content as u did in crazy-canvas :stuck_out_tongue:

[2017-07-19 06:11] anshumanv commented on #29
We will be getting a lot of other buttons and making them group will complicate, i wish to keep some button groups on all corners of the page.

[2017-07-19 10:25] Monal5031 commented on #24
Okay sure, just some nice and simple heading, nothing as in `crazy-canvas` not `carzy-canvas` 😜

[2017-07-19 10:57] anshumanv opened #30 "Need options to select among opening / ending / ost"
Some people need to listen just openings and endings so better add a check on openings, endings and osts to whether they are included in the playlist.

[2017-07-19 10:59] anshumanv opened #31 "Export data to a separate data.json file"
Since the list is populating so it's better to have a separate data.json file from where we can import our content.

[2017-07-19 12:25] #31 closed, assigned to anshumanv

[2017-07-19 20:11] anshumanv commented on #24
PS : I've already stored the name of each track in data.json, easy pick.

[2017-07-20 04:17] anshumanv opened #37 "Add a fullscreen button"
* Press f on window to transition to fullscreen as well

[2017-07-20 05:40] Monal5031 commented on #25
Will do this one too 😄 assign it please.

[2017-07-20 05:40] aviaryan opened #39 "Rewrite in React or Preact"
For a single page app like this, using React or Preact will be the best.
You can also use modern technologies like Webpack for app bundling.

PS - This can be done once we have reached a stable set of features in the current version.

[2017-07-20 06:04] anshumanv commented on #39
Yes, will definitely change the technology stack.
Appreciate the suggestion. :+1:

[2017-07-20 06:09] #29 closed, assigned to nobody

[2017-07-20 09:48] #24 closed, assigned to nobody

[2017-07-20 19:48] #23 closed, assigned to anshumanv

[2017-07-20 19:48] anshumanv commented on #25
@Monal5031 you can have it.

[2017-07-20 19:51] anshumanv opened #42 "Display track time on timeline hover"

[2017-07-21 19:17] Prakash2403 opened #45 "Volume bar on home page"
Views @Monal5031 @Anshuman-Verma ??

[2017-07-21 19:48] anshumanv commented on #45
Surely that is a necessity, thanks for the suggestion sir :+1:
Also we can have keycodes like up and down arrow to control volume too.
Would you like to take this @Prakash2403  ?

[2017-07-21 19:49] anshumanv opened #46 "Display current playtime"
A simple text piece in the audio player which can display `music.currentTime : music.duration` should suffice.

[2017-07-22 06:24] anshumanv opened #47 "Player gets shifted in case of tracks with large name"

[2017-07-22 06:44] #47 closed, assigned to anshumanv

[2017-07-22 15:08] Prakash2403 commented on #45
Sorry @Anshuman-Verma , I don't know much `JS`.

[2017-07-22 15:15] anshumanv commented on #45
No problem @Prakash2403 , none of us know much actually :laughing:
Appreciate the suggestion though. I'll assign it to myself in that case.

[2017-07-22 15:26] Prakash2403 opened #49 "Add github link of this repo on website"
Doing this may attract developers.

[2017-07-22 15:30] anshumanv commented on #49
Awesome, we surely need one.
Here's the link of git ribbons that i came accross https://github.com/blog/273-github-ribbons
Up for it @Prakash2403 ?

[2017-07-22 15:42] Prakash2403 commented on #49
@Anshuman-Verma  I don't know HTML, CSS either 😄

[2017-07-23 00:50] Monal5031 commented on #49
Can I do this one? @Anshuman-Verma

[2017-07-27 07:24] #30 closed, assigned to anshumanv

[2017-07-27 07:26] anshumanv opened #51 "Handle unexpected/unnecessary logs"

[2017-07-27 07:29] anshumanv opened #52 "Buffered bar updates only when track is being played"
It should update at any point of time.

[2017-07-27 07:40] #52 closed, assigned to anshumanv

[2017-07-27 09:02] #51 closed, assigned to anshumanv

[2017-07-28 15:59] #37 closed, assigned to anshumanv

[2017-07-29 06:10] #49 closed, assigned to nobody

[2017-08-01 19:25] anshumanv opened #68 "Clear error log due to handleBuffer function"
The handleBuffer function creates a lot of unnecessary error log while the song is not being played, which makes the console look ugly.

[2017-08-02 14:29] #68 closed, assigned to anshumanv

[2017-08-22 13:00] aviaryan opened #79 "Feature to show playlist"
An option to show the list of all songs and let users choose a song to play.

[2017-08-22 14:00] anshumanv commented on #79
Right, this feature is currently under dev. in #25 by @Monal5031 , though selection of tracks from the displayed list is one great thing we can incorporate !

[2017-08-22 14:06] anshumanv commented on #79
Current plan is to have a slider button on top-left, which will slide in the tracks list onto the screen.
Any suggestions/thoughts on this @aviaryan ?

[2017-08-22 14:09] aviaryan commented on #79
No, that is exactly what I had in mind.

[2017-08-23 06:47] anshumanv commented on #45
Apparently we have attached `Keycodes` to browser window https://github.com/Anshuman-Verma/ongaku#features to control volume and seeking track, I will add a volume bar if need arises.
Hence, closing this now.

[2017-08-23 06:47] #45 closed, assigned to anshumanv

[2017-08-27 12:17] anshumanv opened #82 "Need kimiuso content asap"
By far the best openings, endings and osts 😍

[2017-08-28 14:51] #82 closed, assigned to anshumanv

[2017-08-29 11:51] DivyeshPuri opened #85 "Feature to show shortcut keys"

[2017-08-29 11:51] DivyeshPuri commented on #85
@Anshuman-Verma assign me this issue

[2017-08-29 13:31] anshumanv commented on #85
Very Well, current idea is to have an `i` icon below preferences icon on top-right, HOVERING over which should display list of all relevant keycodes.
Do let me know if you can come up with a better work around.

[2017-08-31 08:14] aashutoshrathi opened #89 "Add .gitignore"
Add .gitignore to avoid files like .db, .bin, .exe, .o.

[2017-08-31 08:19] anshumanv commented on #89
Please do accordingly.

[2017-08-31 12:22] #89 closed, assigned to aashutoshrathi

[2017-08-31 18:32] aashutoshrathi opened #92 "Fix JSON indentation"

[2017-08-31 19:54] anshumanv commented on #92
* Indent with TAB of size 2
* one blank line between all objects
* two blank lines between arrays

[2017-09-01 17:26] #92 closed, assigned to anshumanv

[2017-09-01 18:30] code-note opened #96 "Update Naruto Shippuden Op-15 img"
The current Naruto Shippuden image looks blurry and doesn't relate to the opening, It needs and update

Planning to put resurrection of all hokages for this one.

Thank You

[2017-09-01 18:31] anshumanv commented on #96
Please do the appropriate.

[2017-09-01 19:17] #96 closed, assigned to code-note

[2017-09-02 10:40] Monal5031 commented on #25
@Anshuman-Verma Please assign this one to me n @aashutoshrathi
@aashutoshrathi lets work it out today.

[2017-09-02 10:42] anshumanv commented on #25
This gh assigning bug still persists, anyways discuss with @aashutoshrathi and do the appropriate.

[2017-09-02 10:42] aashutoshrathi opened #107 "Dead Link Checking Shell Script using Travis"
- [x] I can work upon this.

[2017-09-02 10:44] anshumanv commented on #107
All the best !

[2017-09-02 10:45] aashutoshrathi commented on #107
But you have to add this repo to Travis CI first.

[2017-09-02 10:45] aashutoshrathi commented on #107
Ensure to do it on Ruby

[2017-09-02 10:46] anshumanv opened #108 "Add Issue Template"
Give various fields to show whether the issue is about adding new content or app updates.
And a checkbox to show if the user wanna work on it.
Please comment if any other useful thing can be included.

[2017-09-02 10:47] anshumanv commented on #107
Okay, will update once done.

[2017-09-02 10:56] aashutoshrathi commented on #108
I can work on this, just give suggestions, what can be added?

[2017-09-02 10:59] anshumanv commented on #108
This issue is about ...

Check for:
* I wanna work on this.
* I ensure that this is not duplicate
* I've gone through the Contributing guidelines

Any other suggestions ?

[2017-09-02 10:59] DivyeshPuri opened #109 "Attack On Titan Opening - Guren No Yumiya"

[2017-09-02 11:00] DivyeshPuri commented on #109
@Anshuman-Verma assign me this issue

[2017-09-02 11:02] anshumanv commented on #109
The opening isn't very appealing in itself so make sure you add the anime version which is somewhere around 1:30min and not the full opening :)

[2017-09-02 11:17] Monal5031 commented on #108
Add it in `.github` folder @aashutoshrathi as we did in ChefLib.
Also we can add a point where it confirms that the person has tested its work and that it won't break anything else.

[2017-09-02 11:21] aashutoshrathi commented on #108
@Monal5031 Please Check #112 sent 11 minutes ago.

[2017-09-02 11:27] anshumanv commented on #108
Yea, need to add a check to make sure he tested his additions in the app and everything's functional.

[2017-09-02 11:30] DivyeshPuri commented on #109
Have a look now @Anshuman-Verma

[2017-09-02 11:33] aashutoshrathi commented on #108
@Anshuman-Verma , please suggest on #112 now.

[2017-09-02 12:13] #108 closed, assigned to nobody

[2017-09-02 14:53] aashutoshrathi opened #113 "Key Icons can be used in README"
#### This issue is about Key Icons in README.

- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This issue is for enhancement/bug fixing.
- [ ] This issue is an addition to JSON database.
- [ ] I have gone through [Contribution Guidelines](https://github.com/Anshuman-Verma/ongaku/blob/master/CONTRIBUTING.md).
- [x] Assign this issue to me.

[2017-09-02 14:56] aashutoshrathi opened #115 "Some Grammatical errors in Issue and PR Template"
#### This issue is about Error in Issue and PR Templates.

- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This issue is for enhancement/bug fixing.
- [ ] This issue is an addition to JSON database.
- [x] I have gone through [Contribution Guidelines](https://github.com/Anshuman-Verma/ongaku/blob/master/CONTRIBUTING.md).
- [x] Assign this issue to me.

[2017-09-02 15:07] #85 closed, assigned to DivyeshPuri

[2017-09-02 15:19] DivyeshPuri opened #116 "Updating Info Image"
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This issue is for enhancement/bug fixing.
- [ ] This issue is addition to JSON database.
- [x] I have gone through [Contribution Guidelines](https://github.com/Anshuman-Verma/ongaku/blob/master/CONTRIBUTING.md).
- [x] Assign this issue to me.

[2017-09-02 15:21] DivyeshPuri opened #117 "UI Enhancement in Info Bar"
#### This issue is about {Anime Name} (OP/ED).

- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This issue is for enhancement/bug fixing.
- [ ] This issue is addition to JSON database.
- [x] I have gone through [Contribution Guidelines](https://github.com/Anshuman-Verma/ongaku/blob/master/CONTRIBUTING.md).
- [x] Assign this issue to me.

[2017-09-02 15:22] aashutoshrathi commented on #117
Update First line of Issue Template.

[2017-09-02 15:33] #116 closed, assigned to nobody

[2017-09-02 15:36] anshumanv commented on #117
What is Info bar exactly ?

[2017-09-02 15:37] anshumanv commented on #115
Which errors are you referring in particular ?

[2017-09-02 15:39] anshumanv commented on #117
You need to explain what enhancement you are opening this issue for.

[2017-09-02 15:48] anshumanv opened #120 "Update Assassination Classroom OP2 img"
#### This issue is about Assassination Classroom OP-2

- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This issue is for enhancement/bug fixing.
- [x] This issue is addition to JSON database.
- [x] I have gone through [Contribution Guidelines](https://github.com/Anshuman-Verma/ongaku/blob/master/CONTRIBUTING.md).
- [x] Assign this issue to me.

[2017-09-02 15:55] #117 closed, assigned to nobody

[2017-09-02 17:50] #113 closed, assigned to aashutoshrathi

[2017-09-02 18:09] aashutoshrathi commented on #115
@Anshuman-Verma Assign me

[2017-09-02 18:40] aashutoshrathi opened #123 "Add Travis CI Badge to README"
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This issue is for enhancement/bug fixing.
- [ ] This issue is an addition to JSON database.
- [x] I have gone through [Contribution Guidelines](https://github.com/Anshuman-Verma/ongaku/blob/master/CONTRIBUTING.md).
- [ ] Assign this issue to me.

[2017-09-02 18:43] #107 closed, assigned to aashutoshrathi

[2017-09-02 18:48] #115 closed, assigned to aashutoshrathi

[2017-09-02 18:50] aashutoshrathi opened #125 "Updating Info Box on Site"
#### This issue is about Updating Info Box with better UI.

- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This issue is for enhancement/bug fixing.
- [ ] This issue is an addition to JSON database.
- [x] I have gone through [Contribution Guidelines](https://github.com/Anshuman-Verma/ongaku/blob/master/CONTRIBUTING.md).
- [x] Assign this issue to me.

[2017-09-02 18:52] aashutoshrathi commented on #123
@Anshuman-Verma only you can add this, I think, so GFI.

[2017-09-02 18:54] anshumanv commented on #123
Yea okay

[2017-09-02 18:59] #123 closed, assigned to anshumanv

[2017-09-02 19:34] #125 closed, assigned to aashutoshrathi

[2017-09-03 04:42] #120 closed, assigned to anshumanv

[2017-09-03 10:18] aashutoshrathi opened #131 "Hits Badge in README."
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This issue is for enhancement/bug fixing.
- [ ] This issue is an addition to JSON database.
- [x] I have gone through [Contribution Guidelines](https://github.com/Anshuman-Verma/ongaku/blob/master/CONTRIBUTING.md).
- [x] Assign this issue to me.

[2017-09-03 12:30] #131 closed, assigned to nobody

[2017-09-03 12:31] #109 closed, assigned to DivyeshPuri

[2017-09-03 15:07] DivyeshPuri opened #133 "Links not working Naruto Shippuden OST - Ashura-Indra"
#### This issue is about {Naruto Shippuden} (OST).

- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This issue is for enhancement/bug fixing.
- [x] This issue is an addition to JSON database.
- [x] I have gone through [Contribution Guidelines](https://github.com/Anshuman-Verma/ongaku/blob/master/CONTRIBUTING.md).
- [x] Assign this issue to me.

[2017-09-03 16:31] anshumanv commented on #133
Links work perfectly fine for me.

[2017-09-03 17:02] #133 closed, assigned to nobody

[2017-09-03 17:03] ghost opened #135 "Fix shippuden op15 link"
#### This issue is about Naruto Ship. OP15

- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This issue is for enhancement/bug fixing.
- [x] This issue is an addition to JSON database.
- [x] I have gone through [Contribution Guidelines](https://github.com/Anshuman-Verma/ongaku/blob/master/CONTRIBUTING.md).
- [x] Assign this issue to me.

[2017-09-03 17:05] #135 closed, assigned to nobody

[2017-09-03 17:08] ghost opened #137 "Update naruto ost -to haha image"
#### This issue is about Naruto OST chichi to haha

- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This issue is for enhancement/bug fixing.
- [ ] This issue is an addition to JSON database.
- [x] I have gone through [Contribution Guidelines](https://github.com/Anshuman-Verma/ongaku/blob/master/CONTRIBUTING.md).
- [x] Assign this issue to me.

[2017-09-03 17:14] #137 closed, assigned to nobody

[2017-09-04 06:36] DivyeshPuri opened #140 "Info bar centering head elements"
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This issue is for enhancement/bug fixing.
- [ ] This issue is an addition to JSON database.
- [x] I have gone through [Contribution Guidelines](https://github.com/Anshuman-Verma/ongaku/blob/master/CONTRIBUTING.md).
- [x] Assign this issue to me.

[2017-09-04 07:15] #140 closed, assigned to DivyeshPuri

[2017-09-04 14:36] Monal5031 opened #143 "Update CONTRIBUTING.md"
#### This issue is about updating contributing.md with following points.
[code]
- [x] This issue is for enhancement/bug fixing.
- [x] Assign this issue to me.

[2017-09-04 15:11] vanguard07 opened #144 "Code Geass OP/ED"
#### This issue is about {Code Geass} (OP/ED/OST).

- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [ ] This issue is for enhancement/bug fixing.
- [x] This issue is an addition to JSON database.
- [x] I have gone through [Contribution Guidelines](https://github.com/Anshuman-Verma/ongaku/blob/master/CONTRIBUTING.md).
- [x] Assign this issue to me.

[2017-09-04 15:35] DivyeshPuri opened #145 "Update Image of Naruto Shippuden OST - Narukami"
#### This issue is about Naruto Shippuden OST.

- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This issue is for enhancement/bug fixing.
- [x] This issue is an addition to JSON database.
- [x] I have gone through [Contribution Guidelines](https://github.com/Anshuman-Verma/ongaku/blob/master/CONTRIBUTING.md).
- [x] Assign this issue to me.

[2017-09-04 15:42] DivyeshPuri opened #146 "Update Image of Fairy Tail(S1) - Sense Of Wonder"
#### This issue is about Fairy Tail (OP/ED/OST).

- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This issue is for enhancement/bug fixing.
- [x] This issue is an addition to JSON database.
- [x] I have gone through [Contribution Guidelines](https://github.com/Anshuman-Verma/ongaku/blob/master/CONTRIBUTING.md).
- [x] Assign this issue to me.

[2017-09-05 13:36] #144 closed, assigned to vanguard07

[2017-09-05 13:56] anshumanv commented on #146
Has been fixed in #149

[2017-09-05 13:56] #146 closed, assigned to nobody

[2017-09-05 13:57] anshumanv commented on #145
Get this done quick.

[2017-09-05 14:05] anshumanv commented on #143
Those points can be included, but adding multiple content of a single anime should be allowed as there are way too many ! :octocat:

[2017-09-05 14:18] ghost opened #151 "Update Naruto OST - yawarakana img"
#### This issue is about Naruto OST.

- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This issue is for enhancement/bug fixing.
- [ ] This issue is an addition to JSON database.
- [x] I have gone through [Contribution Guidelines](https://github.com/Anshuman-Verma/ongaku/blob/master/CONTRIBUTING.md).
- [x] Assign this issue to me.

[2017-09-05 14:20] #151 closed, assigned to nobody

[2017-09-05 14:59] #145 closed, assigned to DivyeshPuri

[2017-09-05 20:49] Monal5031 commented on #143
@Anshuman-Verma Yeah that seems good, also this point will help in maintaining the history of changes for particular animes.

[2017-09-06 04:47] anshumanv commented on #143
Yea right, will be convenient.

[2017-09-07 05:57] #143 closed, assigned to Monal5031

[2017-09-08 09:31] DivyeshPuri opened #157 "Track name Position Fixed"
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This issue is for enhancement/bug fixing.
- [ ] This issue is an addition to JSON database.
- [x] I have gone through [Contribution Guidelines](https://github.com/Anshuman-Verma/ongaku/blob/master/CONTRIBUTING.md).
- [x] Assign this issue to me.

[2017-09-09 06:20] ghost opened #160 "Fix gh icons in preferences box"
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This issue is for enhancement/bug fixing.
- [ ] This issue is an addition to JSON database.
- [x] I have gone through [Contribution Guidelines](https://github.com/Anshuman-Verma/ongaku/blob/master/CONTRIBUTING.md).
- [x] Assign this issue to me.

[2017-09-09 06:25] #160 closed, assigned to nobody

[2017-09-10 10:56] aashutoshrathi opened #162 "Improvement in Port Section in README"
#### This issue is about Port Section in README.

- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This issue is for enhancement/bug fixing.
- [ ] This issue is an addition to JSON database.
- [x] I have gone through [Contribution Guidelines](https://github.com/Anshuman-Verma/ongaku/blob/master/CONTRIBUTING.md).
- [x] Assign this issue to me.

[2017-09-10 13:44] anshumanv commented on #162
What is the improvement that you're suggesting ?

[2017-09-12 14:12] anshumanv commented on #162
@aashutoshrathi ?

[2017-09-12 18:29] aashutoshrathi commented on #162
https://github.com/aashutoshrathi/ongaku/tree/readme-port

[2017-09-13 07:49] anshumanv commented on #162
Go with it then.

[2017-09-13 08:16] #162 closed, assigned to aashutoshrathi

[2017-10-01 11:29] DivyeshPuri opened #167 "InfoBar Enhancement"
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This issue is for enhancement/bug fixing.
- [ ] This issue is an addition to JSON database.
- [x] I have gone through [Contribution Guidelines](https://github.com/Anshuman-Verma/ongaku/blob/master/CONTRIBUTING.md).
- [x] Assign this issue to me.

[2017-10-01 13:29] aashutoshrathi opened #169 "Travis Build Failing Due to some Dead Links"
#### This issue is about Travis Build Failure.

**Dead Links**:
1. http://geodavephotography.com/images/guilty-crown-wallpaper/38061238-guilty-crown-wallpaper.jpg give Error 404.
Guilty Crown ED2 Single - Kokuhaku's Image no longer exist.
2. White Listed mp3fb.com link (not causing failure, but better to change it).

- [x] I searched or browsed the repo’s other issues to ensure this is not a dupli

[2017-10-01 13:31] anshumanv commented on #169
Thanks for bringing that to notice, I was about to ask you to read travis log.

[2017-10-01 14:07] aashutoshrathi opened #170 "Mark Inactive Issues as HackfortheBest."
#### We should add `hackforthebest` label to all inactive issues from past, there are great chances of contributions.

- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This issue is for enhancement/bug fixing.
- [x] Close this issue as soon as you fix it.

[2017-10-01 14:14] #170 closed, assigned to nobody

[2017-10-01 14:16] #169 closed, assigned to aashutoshrathi

[2017-10-01 18:54] filoxo commented on #39
I'd love to start rewriting this in React/Preact, at least as a proof-of-concept. Do you have any preference as to which lib (React or Preact)? Also, do you have a preference as to a build system (create-react-app, Next.js, nwb, etc.)?

[2017-10-01 19:15] anshumanv commented on #39
Thanks @filoxo for contributing here !
I'm a bit familiar with react so go with it.
Also no personal preferences for a build system, use whichever is suitable to you :+1:

[2017-10-01 19:26] #157 closed, assigned to DivyeshPuri

[2017-10-01 19:45] anshumanv opened #173 "fix the position of bottom-bar"
##### `bottom-bar` shows up in the middle when the page is initially loading.

- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This issue is for enhancement/bug fixing.
- [ ] This issue is an addition to JSON database.
- [x] I have gone through [Contribution Guidelines](https://github.com/Anshuman-Verma/ongaku/blob/master/CONTRIBUTING.md).
- [ ] Assign

[2017-10-01 20:39] #173 closed, assigned to nobody

[2017-10-01 20:45] anshumanv opened #175 "Change HTML player"
#### The current player is too primitive and isn't to flashy, we need a better player with good UI/UX and some basic features like playtime etc.

- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This issue is for enhancement/bug fixing.
- [ ] This issue is an addition to JSON database.
- [x] I have gone through [Contribution Guidelines](https://github.co

[2017-10-01 21:26] anshumanv commented on #39
Do you have any preferences for this @aviaryan ?

[2017-10-01 22:00] anshumanv opened #176 "Automated anime songs retrieval"
The current setup uses a `data.json` which isn't very robust or reliable, is there a way to automatically get links using some API so we get rid of manually collecting all the links?

- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This issue is for enhancement/bug fixing.
- [ ] This issue is an addition to JSON database.
- [x] I have gone through [Cont

[2017-10-01 22:53] Aystub commented on #176
I don't know of any that already provide this data. But could make one? Dump your data.json into a database like Postgres, use python or something to serve up the data as you need it. Host all of it on Heroku or some other service. Their free tier isn't bad depending on how much traffic your project gets. But if it's huge it'd start costing money regardless of where you host it.

[2017-10-01 23:03] Monal5031 commented on #176
Accept it @anshumanv django server would work for this 😉 we can create REST API for the data.

[2017-10-02 03:21] anshumanv commented on #176
@Aystub thanks for the followup, The problem here is to get rid of data.json completely and use some API that provides links directly of all animes.
@Monal5031 let's do that later if we don't find a workaround.

[2017-10-02 09:56] anshumanv opened #178 "Make page mobile responsive"
The current layout ain't mobile responsive and the view is messed up.

- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This issue is for enhancement/bug fixing.
- [ ] This issue is an addition to JSON database.
- [x] I have gone through [Contribution Guidelines](https://github.com/Anshuman-Verma/ongaku/blob/master/CONTRIBUTING.md).
- [ ] Assign this iss

[2017-10-02 10:47] #167 closed, assigned to DivyeshPuri

[2017-10-02 12:50] aviaryan commented on #39
@anshumanv React from my side. Though VueJS is interesting too.

[2017-10-02 18:16] anshumanv commented on #39
Yeah VueJS is popular among developers now a days @aviaryan .
Let's go for react then @filoxo , you can get started when you like :smile:

[2017-10-02 18:47] filoxo commented on #39
While I haven't done anything in Vue yet, I have been wanting to try it out. It also as a pretty prolific community around it, has similar build tools (vue-cli, nuxt.js), has similar state management libs (vuex), and great documentation. I don't think this would be a bad choice.
Ultimately you'll be the ones to maintain it so whatever you decide I'm totally on board with. I'll go ahead with React

[2017-10-02 18:52] anshumanv commented on #39
Thanks so much @filoxo ! :smile:
Perhaps what are your views on carrying this out on a separate repo (to keep the workplace clean and isolated) ?

[2017-10-02 20:02] filoxo commented on #39
Sure, another repo would be fine. I had already created a separate branch on my fork, but whatever works best for you.

[2017-10-02 20:14] anshumanv commented on #39
Have added you in the repo @filoxo , please check invite.
Let's follow up there. 😄

[2017-10-03 16:50] Swardu commented on #176
Using a real database engine such as MariaDB is also an option, which I recommend. MariaDB is great at handling a lot of data, Postgres is mainly for bigger data such as blog post, but works too.

[2017-10-03 17:08] anshumanv commented on #176
@GitHugop thanks for the view, perhaps I think the description is not clear, have updated it. Currently we have to aggregate links in data.json, I'm trying to find a method where there is no longer any need to find links and add them in some database or json file, something where we can just get links for all animes in one place.

[2017-10-03 17:56] WEBhicham commented on #178
hi @anshumanv ,

I am interesed in making your amazing anime radio responsie.
I checked the website on my mobile and it is already pretty mobile friendly.
are there specific changes you wanna have?

[2017-10-04 04:50] anshumanv commented on #178
Hi @WEBhicham !
Thanks for showing interest in this project.
The mobile view is really messed up, perhaps we want to display the full image, make player usable, scale down the icons which are taking too much space.
![screenshot_2017-10-03-23-56-09](https://user-images.githubusercontent.com/21009455/31160364-788d1484-a8ed-11e7-94a7-5f9c337f88d1.png)

[2017-10-04 05:12] Swardu commented on #176
There are ways, such as using SoundCloud API to search and download music, but it's not a bulletproof method. It's best to have them approved by a human and still allow song requests.

What do you think?

[2017-10-04 05:27] anshumanv commented on #176
Right @GitHugop that would be more reliable, in that case I'll probably then set up a database and retrieve links from it.
Thanks for the follow up anyways @GitHugop

[2017-10-04 05:27] #176 closed, assigned to nobody

[2017-10-04 16:22] #25 closed, assigned to nobody

[2017-10-10 08:23] #46 closed, assigned to anshumanv

[2017-10-10 09:41] anshumanv opened #182 "Left side-nav to display playlist"
Need a button on the top-left clicking on which will unfold a sidenav which will contain the tracks in sequence to be played, clicking on any particular track will play it.

- [ ] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This issue is for enhancement/bug fixing.
- [ ] This issue is an addition to JSON database.
- [x] I have gone through [Contribution G

[2017-10-10 13:13] vijaygomathinayagam commented on #182
I am a beginner but I will try this

[2017-10-10 13:33] anshumanv commented on #182
Sure thing, please go ahead.

[2017-10-15 10:29] Monal5031 commented on #79
Solution for this was fixed in https://github.com/Monal5031/Js-css-Experimentations/issues/7

[2017-10-15 10:32] anshumanv commented on #79
This is ongoing in #183

[2017-10-15 12:14] Monal5031 opened #186 "Travis issue fails due to invalid link"
#### This issue is about {Anime Name} (OP/ED/OST).

- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This issue is for enhancement/bug fixing.
- [ ] This issue is an addition to JSON database.
- [x] I have gone through [Contribution Guidelines](https://github.com/anshumanv/ongaku/blob/master/CONTRIBUTING.md).
- [ ] Assign this issue to me.

The link to i

[2017-10-15 13:50] anshumanv commented on #186
Thanks for bringing that to notice, I'll fix this ASAP

[2017-10-15 13:59] anshumanv commented on #186
Fixed

[2017-10-15 13:59] #186 closed, assigned to nobody

[2017-10-15 21:12] joseph-perez commented on #182
Hello! I was wondering if this was still being worked on? I forked the repo and pushed some changes for this. Sorry if I'm intruding or anything, I'm new to this haha.

 #187

[2017-10-16 01:15] vijaygomathinayagam commented on #182
@joseph-perez please refer pull request #183

[2017-10-16 01:17] vijaygomathinayagam commented on #182
@joseph-perez I have done already. Now I'm doing minor changes in it.

[2017-10-17 03:46] #182 closed, assigned to nobody

[2017-10-17 03:47] anshumanv commented on #79
Done in #187

[2017-10-17 03:47] #79 closed, assigned to nobody

[2017-10-18 14:54] anshumanv opened #189 "Migrate all icons to font-awesome"
Currently, we're using various images as icons for different functionality. The icons tend to mix up sometimes with the background and aren't clearly visible. I'm thinking of porting all icons while maintaining their positions to use white fa icons with a black border, also on hovering over an icon, it should expand by say 5% or 10% and it should be slight gray filled in that case.

- [x] I search

[2017-10-18 14:57] anshumanv opened #190 "Add better tooltiptext"
Currently, icons just display the regular HTML tooltips which isn't much appealing, I really like the style of icon tooltips in http://openings.moe, we need something like that.

- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This issue is for enhancement/bug fixing.
- [ ] This issue is an addition to JSON database.
- [x] I have gone through [Contribut

[2017-10-18 15:01] anshumanv opened #191 "Auto hide all icons on no activity"
We should fade away transition all icons after there's no activity say after a span of 3 seconds, they should reappear if the mouse is moved.

- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This issue is for enhancement/bug fixing.
- [ ] This issue is an addition to JSON database.
- [x] I have gone through [Contribution Guidelines](https://github.com/a

[2017-10-18 15:07] anshumanv opened #192 "Improve the current HTML Audio Player UI"
The current audio player is very primitive and has poor UI, there are so many better material custom HTML/CSS audio players available out there, we should port to them else the simple player at the top of the screen in http://openings.moe works well too.

- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This issue is for enhancement/bug fixing.
- [ ] Thi

[2017-10-18 15:18] #175 closed, assigned to nobody

[2017-10-18 15:31] darrylsepeda commented on #189
I'll do this task

[2017-10-18 15:33] anshumanv commented on #189
Hey, @darrylsepeda welcome onboard!
Go for it 👍

[2017-10-18 16:30] darrylsepeda commented on #189
Thanks @anshumanv
I have added few icons and make PR, please kindly check.
I tried to replace your play/pause button, but still don't know how because you replace the class using javascript.

I also curious about index.html line 18, there is require jquery, this shows error because require is not defined.. why do u import your jquery like that?

[2017-10-18 16:36] darrylsepeda commented on #189
I'll try to help for other tasks tomorrow :)

[2017-10-18 16:36] anshumanv commented on #189
Thanks, Changes look great!
About line 18 in which I required jquery since it was needed to run the desktop app https://github.com/anshumanv/ongaku-desktop which was using this repo as a submodule, that no longer persists so I'll remove it, thanks for bringing that to notice.

The icons lack animation and some refinement, could you please check http://openings.moe to get the picture of how to impr

[2017-10-18 16:37] joseph-perez commented on #190
I can take this one on if that's cool 😄

[2017-10-18 16:37] anshumanv commented on #189
Also, there are some extra files like .idea and some fa cache, please remove them as well.

[2017-10-18 16:39] anshumanv commented on #190
It's totally cool @joseph-perez
Go for it 👍

[2017-10-18 16:43] ong-yy commented on #191
@anshumanv Is anyone working on this? Can I?

[2017-10-18 16:43] darrylsepeda commented on #189
Already remove .idea folder.. :)
I'll try to look at other things tomorrow

[2017-10-18 16:44] anshumanv commented on #191
Hey @YernYee, welcome onboard!
Go for it 👍

[2017-10-18 16:45] anshumanv commented on #189
Sure thing, make sure you get your PR merged before others start sending theirs 😆

[2017-10-18 17:46] darrylsepeda commented on #189
please kindly check for the animation

[2017-10-18 18:09] anshumanv commented on #189
Animation looks cool as of now, why not make the size to 2x and add some thin black border?
4x takes a lot of screen space 😅

[2017-10-18 18:22] markus-willems commented on #42
Hi @anshumanv, I would like to add this feature :) Could you tell me a bit more about this feature? Like, where exactly the track time should be displayed?

[2017-10-18 18:34] anshumanv commented on #42
Hey, @markus-willems thanks for showing interest here.
When we hover over the song timeline i.e the line which fills as song proceeds to display the playtime when the mouse is present.
That being said, we are planning to change the whole Audio Player so this issue is to be solved after #192 please look into it if you can help with that.

[2017-10-18 20:23] anshumanv opened #195 "Add more anime openings, endings, OSTs"
Please refer [contributing](https://github.com/anshumanv/ongaku/blob/master/CONTRIBUTING.md) to see how to add more content.

- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [ ] This issue is for enhancement/bug fixing.
- [x] This issue is an addition to JSON database.
- [x] I have gone through [Contribution Guidelines](https://github.com/anshumanv/ongaku/b

[2017-10-18 23:10] darrylsepeda commented on #189
hahaha I make it 4x because I think the previous icon size same as that..
done, 2x with some thin black border

[2017-10-19 01:23] aulisius commented on #195
I would like to take this up!

[2017-10-19 03:21] #190 closed, assigned to nobody

[2017-10-19 03:39] anshumanv commented on #189
Thanks so much @darrylsepeda, I really appreciate the help. 😄

[2017-10-19 03:49] anshumanv commented on #195
Thanks! Trying to make this an unending list. 😄
Other contributors can also send PR for this issue. 👍

[2017-10-19 03:53] anshumanv commented on #39
Made with  💟 by @filoxo [here](https://github.com/anshumanv/ongaku-react).
We will soon use that repo to serve ongaku. 😄

[2017-10-19 03:53] #39 closed, assigned to nobody

[2017-10-19 04:26] #189 closed, assigned to nobody

[2017-10-19 05:06] anshumanv opened #198 "Update font on the page"
Use some better, nice font for all the text on the page.

- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This issue is for enhancement/bug fixing.
- [ ] This issue is an addition to JSON database.
- [x] I have gone through [Contribution Guidelines](https://github.com/anshumanv/ongaku/blob/master/CONTRIBUTING.md).
- [ ] Assign this issue to me.

[2017-10-19 06:22] #198 closed, assigned to anshumanv

[2017-10-19 07:13] mohitkyadav opened #200 "Make track name visible on mouse movement"
- [ ] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [X] This issue is for enhancement/bug fixing.
- [ ] This issue is an addition to JSON database.
- [ ] I have gone through [Contribution Guidelines](https://github.com/anshumanv/ongaku/blob/master/CONTRIBUTING.md).
- [ ] Assign this issue to me.

[2017-10-19 07:14] anshumanv commented on #200
Can you do it along with #191? Both are related.

[2017-10-19 07:17] mohitkyadav commented on #200
It's up to you, @anshumanv .

[2017-10-19 07:18] anshumanv commented on #200
Okay lol.

[2017-10-19 08:07] saideepd commented on #195
Can I add few more tracks to your awesome playlist ?

[2017-10-19 08:18] anshumanv commented on #195
Sure @saideepd, please go ahead. 👍

[2017-10-19 15:47] ong-yy opened #205 "Side bar to close when user click out of side bar."
The side bar should close whenever user click anywhere but the side bar.
The close button to side bar is only available on top of the side bar. If user navigate or scroll to the bottom, the side bar can't be close except going back to the top and close it.

- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This issue is for enhancement/bug fixing.
- [ ] T

[2017-10-19 16:41] anshumanv commented on #205
Hey @YernYee thanks for this, in fact, I was gonna open an issue for the same. Are you up for this?

[2017-10-19 21:28] surmistry commented on #200
Hi @anshumanv mind if I check this out?

[2017-10-20 03:28] anshumanv commented on #200
Sure thing @surmistry, go for it. 👍

[2017-10-20 03:53] anshumanv opened #208 "Need a small search bar on playlist to filter tracks"
The track playlist that slides in from the left has no option to filter out tracks with name, we can add a small text field to the left of the close button which will filter songs in which the entered string is present.

- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This issue is for enhancement/bug fixing.
- [ ] This issue is an addition to JSON data

[2017-10-20 05:15] hisivasankar commented on #208
May I work on this?

[2017-10-20 05:34] anshumanv commented on #208
Go for it @hisivasankar 👍

[2017-10-20 05:36] hisivasankar commented on #208
Thanks 👍

[2017-10-20 09:31] hisivasankar commented on #208
@anshumanv, could you please assign it to my name? Also could you please add `in progress` label?

[2017-10-20 11:37] #208 closed, assigned to nobody

[2017-10-20 14:30] #191 closed, assigned to nobody

[2017-10-20 18:28] darrylsepeda commented on #205
Can u put hacktoberfest label for this enhancement?
I've added the functionality plus escape button to close the sidebar

[2017-10-20 19:17] #205 closed, assigned to nobody

[2017-10-21 02:17] darrylsepeda commented on #192
Hi @anshumanv, please kindly check my PR https://github.com/anshumanv/ongaku/pull/211 :)

[2017-10-21 04:54] anshumanv commented on #200
I just tried and it looks annoying @mohitkyadav, whenever you wanna seek track or set preferences it doesn't look good for track name to popup again and again. If the user wanna know the track name there's always the playlist where they can look in.
@surmistry thanks for showing interest in this, but please take up some other issue or open if you think there are enhancements possible.

[2017-10-21 04:54] darrylsepeda commented on #200
@anshumanv I tried my best to make it looks good, by showing the track name if user hover to the player timeline. If u don't agree with it or have other opinion, please let me know. I'll fix as soon as possible.

[2017-10-21 04:57] anshumanv commented on #200
@darrylsepeda thanks for the PR but let's leave this one. I asked some of the users and they aren't very happy about it. Please add commits in #211

[2017-10-21 05:01] darrylsepeda commented on #200
okay @anshumanv

[2017-10-21 05:02] anshumanv commented on #200
Thanks for understanding. 😄

[2017-10-21 05:02] #200 closed, assigned to nobody

[2017-10-21 09:30] #192 closed, assigned to nobody

[2017-10-21 17:40] anshumanv opened #214 "Design a logo for the repo"
Since the repo is quite popular now, we need to have a nice logo for this! 😄
I'm a big fan of material design, it would be great if we can get a real sweet material designed logo for the repo.

- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This issue is for enhancement/bug fixing.
- [ ] This issue is an addition to JSON database.
- [x] I have gone thr

[2017-10-21 21:31] Endless7188 commented on #195
I'd like to add a song or two, if that's ok.

[2017-10-22 00:03] ong-yy opened #217 "Remove the close button on tracklist and fixed search on top"
To remove the close button on tracklist because we can just click outside to close it now and the close button isn't even fixed on top to close anytime.
Fixed search input on top so that you can search anywhere on tracklist.

- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This issue is for enhancement/bug fixing.
- [ ] This issue is an addition to JSON

[2017-10-22 03:10] anshumanv commented on #195
Sure thing @Endless7188, go for it! 👍

[2017-10-22 03:18] anshumanv commented on #217
Sounds good, go for it @YernYee! 👍

[2017-10-22 04:55] anshumanv commented on #217
I think we should leave the close button as it is, but when the user scrolls down we should fix the search bar on top.

[2017-10-22 04:56] anshumanv commented on #178
Mobile view is fixed automagically. 🌟

[2017-10-22 04:56] #178 closed, assigned to nobody

[2017-10-22 05:55] devmattrick commented on #214
I may be able to help out. Do you have any ideas for what to make it look like?

[2017-10-22 06:11] anshumanv commented on #214
@devmattrick thanks for considering a contribution here! 😄
I have no preferences for the logo (do what looks good to you), even if you write a nice materially designed 'ongaku' then it would be fine.

[2017-10-22 06:35] ong-yy commented on #217
@anshumanv, here is a PR #218 that removed close button and fix search bar on top.
I'll branch and make another one without removing close button later.

[2017-10-23 02:08] 123survesh commented on #214
![animradiologo](https://user-images.githubusercontent.com/8644987/31869352-00b8716a-b7c5-11e7-987e-68cd00442218.jpg)
Hi I have tried a logo for the Anime Radio, do check it out

[2017-10-23 06:06] anshumanv commented on #214
Doesn't look that good @123survesh, I think we need a simple Ongaku written in some good styling.

[2017-10-23 07:13] 123survesh commented on #214
Oh ok

[2017-10-23 17:32] anshumanv opened #225 "Improve site performance"
The website has now reached a stable set of features, all that remains is optimizing the performance of the website, I just recently checked and it was quite poor - https://developers.google.com/speed/pagespeed/insights/?url=ongaku.js.org&tab=mobile

It describes on how someone can improve the performance, please check it once.

- [x] I searched or browsed the repo’s other issues to ensure this is

[2017-10-24 13:25] anshumanv opened #227 "Merge the preferences button (Improve UI as well) and info button"
Currently, we have preferences and info button aligned side by side. Let's merge them into a single button called settings, and by clicking the button we have foldable sections to preferences and keycodes each, a good example is in http://openings.moe (Menu button) we need something along those lines.

- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] Thi

[2017-10-24 13:38] norech commented on #225
I'm on it. I will try to optimize 😃

[2017-10-24 13:39] anshumanv commented on #225
Hey, @Norech good to have you onboard! 😄
Thanks 👍

[2017-10-24 15:53] norech commented on #225
I optimized the loading order and the loading time is 2 times faster:
[code]

From Chrome Audits:
![image](https://user-images.githubusercontent.com/32593294/31953654-90185fb6-b8f4-11e7-82a3-135cd83f28be.png)

[2017-10-24 17:31] anshumanv commented on #225
Thanks for the statistics, it's really easy for me this way! 😄

[2017-10-24 17:31] #225 closed, assigned to nobody

[2017-10-24 21:28] SoldierCorp commented on #227
Are you sure?

In my opinion the way you have the buttons set looks good and is a quick access which is better.

[2017-10-25 05:51] starkblaze01 commented on #225
Hey, @Norech I just checked the performance again here - https://developers.google.com/speed/pagespeed/insights/?url=ongaku.js.org&tab=mobile
and saw no improvement, are you sure this is the most optimized state?

[2017-10-25 09:06] norech commented on #225
It's wierd. I will see what I can improve.

[2017-10-25 09:09] norech commented on #225
The wierdest thing I found is that Google Pagespeed consider non-blocking scripts as blocking scripts.

[2017-10-25 11:32] #217 closed, assigned to nobody

[2017-10-26 15:30] SoldierCorp opened #233 "Save song as favourite"
####

What do you think if we implement a feature to save a song as favourite? Having another list that will show the favourite ones or even in the same list but with a button to filter the favourites.

- [ ] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This issue is for enhancement/bug fixing.
- [ ] This issue is an addition to JSON database.
- [ ] I have

[2017-10-26 15:32] anshumanv commented on #227
In that case, let's improve the keycode info button, I don't like the current button, it's buggy and not well modeled.

[2017-10-26 15:34] anshumanv commented on #233
This has been on my mind for a while, I was thinking of implementing a login feature where users can login and maintain their playlist they wanna hear.
Else we can use browserstorage to store the list of favourites and we can have a nice ⭐️ button which will display only the `starred` songs.
What do you think can be implemented easily?

[2017-10-26 15:38] SoldierCorp commented on #233
I was thinking to implement the same thing with browser storage, local storage or cookies, etc. no logging needed... just something simple.

I will start the implementation tonight and I will let you know the progress tomorrow at night or at noon.

[2017-10-26 15:39] SoldierCorp commented on #227
Agree

[2017-10-26 15:40] anshumanv commented on #227
In that case, please improve the info button UI and send a PR. 😄

[2017-10-26 15:41] anshumanv commented on #233
Alright, thanks so much! 😄

[2017-10-26 17:30] 123survesh commented on #214
What do you think about this one?
![ongaku](https://user-images.githubusercontent.com/8644987/32067603-6c624c9a-baa1-11e7-9c6d-095ad43dd5a8.jpeg)

[2017-10-26 17:34] anshumanv commented on #214
@123survesh thanks for your effort, but this one's complicated.
Probably can you create something with a nice material colored `O` with a music note icon inside it?

[2017-10-27 07:41] thedavidzhao commented on #214
Something like this?

![ongaku logo-01](https://user-images.githubusercontent.com/23362199/32092988-aa52b7f2-bac8-11e7-9ae0-b20d4c29b976.png)

[2017-10-27 10:34] anshumanv commented on #214
@thedavidzhao looks nice, can you perhaps make an outline of `O` and put in a filled music symbol, essentially reverse everything.

[2017-10-27 10:53] 123survesh commented on #214
@thedavidzhao It looks cool, what software do you use to create this?

[2017-10-28 13:15] #42 closed, assigned to nobody

[2017-10-31 02:53] thedavidzhao commented on #214
@anshumanv something more like this?

![ongaku logo-02-01](https://user-images.githubusercontent.com/23362199/32205338-09b2820a-bdc5-11e7-8ea6-455b384bdd9a.png)

@123survesh Adobe Illustrator

[2017-10-31 05:37] anshumanv commented on #214
Woah @thedavidzhao looks awesome! :+1: :smile:

[2017-11-01 00:19] thedavidzhao commented on #214
@anshumanv I've created PR #237, not entirely sure if I have the right logo location or PR text body

[2017-11-01 04:02] #214 closed, assigned to nobody

[2017-11-01 22:41] OuKevin commented on #233
is anyone looking into this? I can try something out.

[2017-11-02 02:42] OuKevin commented on #233
Added a PR #238

[2017-11-02 06:23] aashutoshrathi opened #239 "Fix Travis Failure"
#### This issue is about Travis Failure.
We need to change all www.youtubeinmp3.com links as service is no more available.

- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This issue is for enhancement/bug fixing.
- [ ] This issue is an addition to JSON database.
- [ ] I have gone through [Contribution Guidelines](https://github.com/anshumanv/ongaku/blo

[2017-11-02 06:29] anshumanv commented on #239
Quick!

[2017-11-03 03:54] #233 closed, assigned to nobody

[2017-11-03 03:55] #195 closed, assigned to nobody

[2017-11-08 00:55] OuKevin commented on #227
What about making it behave similar to the preference button? or do you have something else in mind?

[2017-11-08 03:56] anshumanv commented on #227
@OuKevin let's make it similar to the preferences button (with improved UI), please send a PR.

[2017-11-22 12:30] aashutoshrathi opened #240 "Auto deploy to 'surge' on every pull request"
#### This issue is about Auto Deployment feature.

- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [ ] This issue is for adding feature.
- [x] I have gone through [Contribution Guidelines](https://github.com/anshumanv/ongaku/blob/master/CONTRIBUTING.md).
- [x] Assign this issue to me.

[2017-11-22 13:31] anshumanv commented on #240
We need something that will comment the surge deployed link on the PR.
Right?

[2017-11-22 15:01] aashutoshrathi commented on #240
No, it will be like, as soon as Travis Build completes, our PR Template will contain a demo link as
`ongaku-js-{PR-NUM}.surge.sh`
and this link will be active if the build is successful.

[2017-11-23 18:15] aashutoshrathi commented on #239
@anshumanv fix this one ASAP, I have PR for #240 ready.

[2017-11-23 18:20] aashutoshrathi commented on #240
Check this https://github.com/aashutoshrathi/ongaku/pull/1

[2017-11-23 18:23] anshumanv commented on #240
I'll do it tomorrow ASAP.

[2017-11-26 07:51] aashutoshrathi commented on #239
Either remove these links or fix them
[code]

[2017-11-26 08:19] anshumanv commented on #239
I have asked @starkblaze01 to complete this.

[2017-11-27 11:01] anshumanv opened #241 "Bug: Favourites button is checked by default"
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This issue is for enhancement/bug fixing.
- [ ] This issue is an addition to JSON database.
- [x] I have gone through [Contribution Guidelines](https://github.com/anshumanv/ongaku/blob/master/CONTRIBUTING.md).
- [x] Assign this issue to me.

[2017-11-27 11:12] anshumanv opened #244 "Remove unused require statements"
Unused require messes up the console.

- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This issue is for enhancement/bug fixing.
- [ ] This issue is an addition to JSON database.
- [x] I have gone through [Contribution Guidelines](https://github.com/anshumanv/ongaku/blob/master/CONTRIBUTING.md).
- [x] Assign this issue to me.

[2017-11-27 11:40] #241 closed, assigned to anshumanv

[2017-11-27 12:14] #244 closed, assigned to nobody

[2017-11-27 14:32] anshumanv commented on #240
There are some major problems going on with links, the hylia apparently is porting their servers. This will need to wait.
Btw some good use of *susper* :wink:

[2017-11-28 06:51] starkblaze01 commented on #239
Fixed Travis failure for these lines:-
L 0106, L 0112, L 0382, L 0388, L 0490, L 0526, L 0621, L 1250
and also fixed Travis Failure for a few Naruto Shippuden OSTs

[2017-11-28 07:22] anshumanv commented on #239
The only @starkblaze01 :raised_hands:

[2017-11-28 07:23] aashutoshrathi commented on #239
There is 404 on nearly 56 URIs merged yesterday 😢

[2017-11-28 07:26] aashutoshrathi commented on #239
There is 404 on nearly 56 URIs merged yesterday 😢

[2017-11-28 07:30] aashutoshrathi commented on #239
Please change every `66.90.93.122/ost/` in repository to `66.90.93.122/anime_ost/`.
@starkblaze01 one more PR will be appreciated. 🙏

[2017-11-28 07:32] aashutoshrathi commented on #239
Please change every `66.90.93.122/ost/` in repository to `67.159.62.2/anime_ost/`.
@starkblaze01 one more PR will be appreciated and refer to this issue in PR. 🙏
cc: @anshumanv

[2017-11-28 17:17] starkblaze01 commented on #239
Fixed Travis Failure

[2017-11-28 17:21] #239 closed, assigned to nobody

[2017-11-28 19:39] #240 closed, assigned to aashutoshrathi

[2017-11-29 07:16] aashutoshrathi opened #250 "Fix Auto Deploy Link in PR Template"
#### This issue is about a typo.

- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This issue is for enhancement/bug fixing.
- [ ] This issue is an addition to JSON database.
- [x] I have gone through [Contribution Guidelines](https://github.com/anshumanv/ongaku/blob/master/CONTRIBUTING.md).
- [x] Assign this issue to me.

[2017-11-29 08:24] #250 closed, assigned to nobody

[2017-12-04 17:00] SoldierCorp opened #252 "Player is not working"
![image](https://user-images.githubusercontent.com/1775881/33565257-45071b3a-d8e2-11e7-9663-11ce71f20cc9.png)

#### This issue is about {Anime Name} (OP/ED/OST).

- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [ ] This issue is for enhancement/bug fixing.
- [ ] This issue is an addition to JSON database.
- [x] I have gone through [Contribution Guidelines](

[2017-12-04 17:03] anshumanv commented on #252
Thanks so much @SoldierCorp for bringing that to notice, I'll look into it soon.

[2017-12-04 18:10] #252 closed, assigned to nobody

[2017-12-15 05:51] anshumanv opened #257 "Need BNHA S2 OP's"
Please add boku no hero academia, season - 2, openings.

- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [ ] This issue is for enhancement/bug fixing.
- [x] This issue is an addition to JSON database.
- [x] I have gone through [Contribution Guidelines](https://github.com/anshumanv/ongaku/blob/master/CONTRIBUTING.md).
- [ ] Assign this issue to me.

[2017-12-15 05:52] anshumanv commented on #257
@VaaibhaviSingh please add. :smile:

[2017-12-15 05:54] starkblaze01 commented on #227
Remove Hacktoberfest label

[2018-01-05 06:23] #257 closed, assigned to nobody

[2018-01-05 06:29] starkblaze01 opened #259 "Fix Travis Failure"
#### This issue is about {Naruto Shippuden OST} (Homecoming).

- [X] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [] This issue is for enhancement/bug fixing.
- [ ] This issue is an addition to JSON database.
- [ ] I have gone through [Contribution Guidelines](https://github.com/anshumanv/ongaku/blob/master/CONTRIBUTING.md).
- [X] Assign this issue to me.

[2018-01-05 07:11] #259 closed, assigned to nobody

[2018-01-08 21:03] DipanshKhandelwal opened #261 "JSON standards not being followed"
JSON file is not following standards.

- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This issue is for enhancement/bug fixing.
- [ ] This issue is an addition to JSON database.
- [x] I have gone through [Contribution Guidelines](https://github.com/anshumanv/ongaku/blob/master/CONTRIBUTING.md).
- [x] Assign this issue to me.

[2018-01-14 17:59] DivyeshPuri opened #262 "Tokyo Ghoul Image Link"
#### This issue is about {Anime Name} (OP/ED/OST).

- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This issue is for enhancement/bug fixing.
- [x] This issue is an addition to JSON database.
- [x] I have gone through [Contribution Guidelines](https://github.com/anshumanv/ongaku/blob/master/CONTRIBUTING.md).
- [x] Assign this issue to me.

[2018-01-14 18:01] anshumanv commented on #262
Make sure you add same image from a different source.

[2018-01-16 17:29] anshumanv commented on #261
Closing this since we will get rid of JSON soon. Thanks for the heads up though. :+1:

[2018-01-16 17:29] #261 closed, assigned to DipanshKhandelwal

[2018-01-16 17:30] #262 closed, assigned to DivyeshPuri

[2018-01-24 18:43] DivyeshPuri opened #264 "Updating Image Source of Code Geass (Hangyaku no Lelouch) ED1"
#### This issue is about {Anime Name} (OP/ED/OST).

- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This issue is for enhancement/bug fixing.
- [x] This issue is an addition to JSON database.
- [x] I have gone through [Contribution Guidelines](https://github.com/anshumanv/ongaku/blob/master/CONTRIBUTING.md).
- [x] Assign this issue to me.

[2018-01-25 05:25] anshumanv commented on #264
Is it not loading?

[2018-01-25 05:59] DivyeshPuri commented on #264
It wasn't loading last night but I guess its good now.

[2018-01-25 06:06] #264 closed, assigned to nobody

[2018-06-11 13:19] DivyeshPuri opened #267 "DOMException: Failed to load because no supported source was found"
#### This issue is about {Anime Name} (OP/ED/OST).

- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This issue is for enhancement/bug fixing.
- [ ] This issue is an addition to JSON database.
- [x] I have gone through [Contribution Guidelines](https://github.com/anshumanv/ongaku/blob/master/CONTRIBUTING.md).
- [ ] Assign this issue to me.

[2018-06-11 13:26] anshumanv commented on #267
This is because the media links getting updated, we need to manually update the links in the JSON file.

[2018-06-11 13:27] DivyeshPuri commented on #267
Even if the link is valid, it still shows the same. Checkout Unravel

[2018-06-11 14:32] anshumanv commented on #267
CSGO: Competitive at 10PM IST

[2018-07-15 20:25] aviaryan commented on #267
ping

[2018-07-16 01:26] anshumanv commented on #267
Thanks for the ping @aviaryan, will get the app functional again within 2 weeks. :+1: :sparkles:

[2019-01-21 16:06] Shiroraven commented on #227
Help still needed?

[2019-01-21 16:54] anshumanv commented on #227
Sure, please feel free to send a PR @Shiroraven 😄

[2019-01-26 21:04] Shiroraven commented on #227
@anshumanv is there any way to contact you to discuss what changes need to be made to the UI, because from reading the issue alone i don't quite understand.

[2019-01-27 04:34] anshumanv commented on #227
Sure @Shiroraven you can contact me on telegram, my handle - @anshumanv

[2020-05-07 05:35] aashutoshrathi opened #297 "Using <kbd> in place of images in README"
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This issue is for enhancement/bug fixing.
- [ ] This issue is an addition to JSON database.
- [x] I have gone through [Contribution Guidelines](https://github.com/anshumanv/ongaku/blob/master/CONTRIBUTING.md).
- [x] Assign this issue to me.

[2020-05-07 05:38] #297 closed, assigned to nobody

[2021-09-29 05:22] Harsh-beep opened #303 "Song not palying"
#### This issue is about {Anime Name} (OP/ED/OST).
Magi S2 ED not palying..

[2021-09-29 05:24] anshumanv commented on #303
@starkblaze01 can you attend this?